<h2>Carrinho</h2>
<ul>
  {{#each cart.products}}
    <li>
      {{this.product.title}}
      — Quantidade:
      {{this.quantity}}
      — R$
      {{this.product.price}}
    </li>
  {{/each}}
</ul>