<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Loja</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <h1>Minha Loja</h1>
      <nav>
        <a href="/products">Produtos</a>
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
  </body>
</html>