<h1>Produtos em Tempo Real</h1>

<form id="productForm">
  <input type="text" id="title" placeholder="Nome do Produto" required />
  <input type="number" id="price" placeholder="Preço" required />
  <button type="submit">Adicionar Produto</button>
</form>

<ul id="productList"></ul>

<script src="/js/client.js"></script>